<div class="footer" >
    <div class="footer-top" >
        <ul>
            <li clas="location" >
                <h1>BookCheap Travel Agency</h1>
                <p>10 Beatty Road, Rocklea, QLD Australia 4106 ABN No: 75 625 160 527</p>
                <p><span>P:</span> 24/7 customer support: +61-7-5641-4241</p>
                <p><span>E:</span> contact@bookcheap.com.au</p>
            </li>
            <li class="about" >
                <h1>About us</h1>
                <p>About us</p>
                <p>User Privacy Center</p>
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
                <p>Refund Policy</p>
                <p>Contact us</p>
            </li>
            <li class="follow" >
                <h1>Follow us</h1>
                <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
            </li>
            <li>
                <h1>Don’t miss our exclusive offers</h1>
                <div>
                    <input type="text" placeholder="Enter your email here" />
                    <label>SUBSCRIBE</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer-bottom" >
        
    </div>
</div>