<body>
  <app-header></app-header>
  <ul class="nav-link">
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="user">User</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
  <div  class="home">
    <div class ="home_img">
      <ngb-carousel >
        <ng-template  *ngFor="let image of hotelImageArray" ngbSlide>
          <div  class="picsum-img-wrapper">
            <img [src]=image.src alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>{{image.name}}</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div  *ngFor="let data of hotel" >
      <p>{{ hotel.from }}</p>
    </div>
    <div class="home_sidebar"></div>
  </div>
  <router-outlet></router-outlet>

  <div class="homepage_features">
    <div (click)="toggleTag()">Availability</div>
    <div (click)="toggleTagDesc()">Description</div>
    <div (click)="toggleTagFasc()">Facilities</div>
    <div (click)="toggleTagLoc()">Location</div>
  </div>
  <div *ngIf=showMe class="details">
    <div>
    <h2>Availability</h2>
    <h2></h2>
    <hr>
    <br><br>
    <p>Check-in:  | Check-out:date |Rooms(s):{{hotel.rooms.attributes.count}} | Adults(s):{{hotel.rooms.room.attributes.adults}}</p>
    <br><br><br>
    <h2>Room {{hotel.rooms.attributes.count}}</h2>
    <hr>
    <br><br>
    <h2>{{hotel.rooms.room.roomType[0].name}} </h2>
    <br><br>
    <hr>
    <div class="standard">
      <div>
        <h4>Board Basis</h4>
        <br>
        <h4>{{hotel.rooms.room.roomType[1].rateBases.rateBasis.attributes.description}}</h4>
        <p>Only {{hotel.rooms.attributes.count}} rooms left !</p>
        <br><br>
        <h4>{{hotel.rooms.room.roomType[1].rateBases.rateBasis.attributes.description}}</h4>
        <p>Only {{hotel.rooms.attributes.count}} rooms left !</p>
      </div>
      <div>
       <h4>Included Services</h4>
       <br><br>
       <h4>Free Cancellation</h4>
       <p>{{hotel.rooms.room.roomType[1].rateBases.rateBasis.cancellationRules.rule[1].fromDateDetails}}</p>
       <h4>Free Cancellation</h4>
       <p>{{hotel.rooms.room.roomType[1].rateBases.rateBasis.cancellationRules.rule[1].fromDateDetails}}</p>
      </div>
      <div>
        <h5>Promotions</h5>
        <br>
        <h5>Sales Only</h5>
        <br><br>
        <h5>Sales Only</h5>
      </div>
      <div>
        <h5>Total Price</h5>
        <h4>AUD {{hotel.rooms.room.roomType[0].rateBases.rateBasis[0].dates.date.price}} </h4>
        <p>inc. taxes and charges</p>
        <h4>AUD {{hotel.rooms.room.roomType[0].rateBases.rateBasis[0].dates.date.price}}</h4>
        <p>inc. taxes and charges</p>
      </div>
    </div>
    <br><br>
    <h3>{{hotel.rooms.room.roomType[1].name}}</h3>
    <hr>
    <div class="standard">
      <div>
        <h5>Board Basis</h5>
        <h5>{{hotel.rooms.room.roomType[1].rateBases.rateBasis.attributes.description}}</h5>
        <p>Only 2 rooms left!</p>
      </div>
      <div>
        <h5>Included Services</h5> 
         <h5>Free Cancellation</h5>
         <p>{{hotel.rooms.room.roomType[0].rateBases.rateBasis[0].dates.date.attributes.datetime}}</p>
      </div>
      <div>
        <h4>Promotions</h4>
        <h5>Sales Only</h5>
      </div>
      <div>
        <h5>Total Price</h5>
        <h5>AUD {{hotel.rooms.room.roomType[1].rateBases.rateBasis.cancellationRules.rule[2].charge}}</h5>
        <p>inc. taxes & charges</p>
      </div>
      </div>
    </div>
  </div>
  <div class="description" *ngIf=showMeDesc>
    <h4>General</h4>
    <hr>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex pariatur consequatur ipsa, eligendi, fugiat quam doloribus consequuntur illo animi reiciendis excepturi veritatis vero. Eius voluptatem fugiat soluta, inventore sed tempore velit doloremque aliquam quam voluptate nesciunt, minus harum reiciendis quaerat nobis placeat minima natus cum ab. Illum, quasi! Pariatur, ullam.
  </div>
  <div class="facilities details" *ngIf=showMeFasc>
    <h3>Hotel Amenities</h3>
     <div>
       <h6>Air Conditioning</h6>
       <h6>Laundary SErvice</h6>
       <h6>Express-Checkin</h6>
      </div>
  </div>
  <div class="details" *ngIf=showMeLoc >
    <h2 >
      Location
    </h2>
    <agm-map [latitude]='lat' [longitude]='long' >
      <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
    </agm-map>
  </div>
  
  <app-footer></app-footer>
</body>










<!-- 











<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="../assets/img2.jpg" alt="Random second slide">
  </div>
  <div class="carousel-caption">
    <h3>{{hotel.attributes.cityname}} </h3>
    
  </div>
</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="../assets/img3.jpg" alt="Random third slide">
  </div>
  <div class="carousel-caption">
    <h3>{{hotel.attributes.cityname}}</h3>
  </div>
</ng-template> -->


